# Travis CI configuration file for running tests
sudo: false
language: python
branches:
    only:
      - master
python:
  - 3.5
  - 3.8
install:
  - sudo apt-get install libgnutls28-dev
  - export PYCURL_SSL_LIBRARY=gnutls
  - export LDFLAGS=-L/usr/local/opt/gnutls/lib
  - export CPPFLAGS=-I/usr/local/opt/gnutls/include
  - make requirements
script:
  - make test
