name: Python CI

on:
  push:
    branches: [ 'master' ]
  pull_request:

jobs:
  run_tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.11']

    steps:

    - uses: actions/checkout@v5
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install pip
      run: pip install -r requirements/pip.txt

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libcurl4-openssl-dev libssl-dev
        make requirements

    - name: Run Tests
      run: make test
